@page
@model Obligatorio2Prog2.Pages.Pagos.IndexModel
@{
    ViewData["Title"] = "Pagos de Turnos";
}

<div class="card">
    <div class="card-header">
        <div class="d-flex justify-content-start align-items-center">
            <h2 class="m-0">Lista de turnos</h2>
        </div>
    </div>

    <!-- Tabla de turnos, cada turno tiene un boton que permite registrar el pago -->
    <div class="card-body px-0 pb-0">
        @if (Model.Turnos.Count() > 0)
        {
        <table class="table table-striped border mb-0 w-100">
            <tr class="table-secondary">
                <th>
                    Turno
                </th>
                <th>
                    Paciente
                </th>
                <th>
                    Medico
                </th>
                <th>
                    Fecha
                </th>
                <th>
                    Hora
                </th>
                <th>
                    Estado
                </th>
                <th>
                    Acciones
                </th>
            </tr>
            @foreach (var item in Model.Turnos)
            {
                @if (item.Estado != 3)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.TurnoId)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.PacienteId). @Html.DisplayFor(m => item.Paciente.NombreP) @Html.DisplayFor(m => item.Paciente.ApellidoP)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.MedicoId). @Html.DisplayFor(m => item.Medico.NombreM) @Html.DisplayFor(m => item.Medico.ApellidoM)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.FechaTurno)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Hora!.HoraTurno)
                        </td>
                        @if (item.Estado == 1)
                        {
                            <td>Agendado</td>
                        }
                        else if (item.Estado == 2)
                        {
                            <td>Realizado</td>
                        }
                        else
                        {
                            <td>Cancelado</td>
                        }
                        @if (item.PagoId == 0)
                        {
                            <td>
                                <button class="btn btn-success btn-sm"
                                        data-bs-toggle="modal"
                                        data-bs-target="#modalPagar_@item.TurnoId">
                                    Pagar
                                </button>

                                <div class="modal fade" id="modalPagar_@item.TurnoId" tabindex="-1" aria-hidden="true">
                                    <div class="modal-dialog modal modal-dialog-centered modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Registrar pago</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Persona a nombre del turno: @Html.DisplayFor(m => item.Paciente.NombreP) @Html.DisplayFor(m => item.Paciente.ApellidoP)</p>
                                                <form method="post">

                                                    <input type="hidden" name="TurnoId" value="@item.TurnoId" />

                                                    <div class="mb-4 gap-2">
                                                        <div class="form-group">
                                                            <label class="col-sm-3 col-form-label" asp-for="Pago.MontoPago"></label>
                                                            <input type="number" id="MontoPago" asp-for="Pago.MontoPago" min="1" max="100000" class="form-control mb-2" />
                                                            <span asp-validation-for="Pago.MontoPago" class="text-danger"></span>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-sm-5 col-form-label" asp-for="Pago.MetodoPago"></label>
                                                            <select id="MetodoPago" asp-for="Pago.MetodoPago" class="form-control mb-2">
                                                                <option disabled selected value="">Seleccione un metodo de pago</option>
                                                                <option value="Efectivo">Efectivo</option>
                                                                <option value="Debito">Débito</option>
                                                                <option value="Credito">Crédito</option>
                                                                <option value="Transferencia">Transferencia bancaria</option>
                                                            </select>
                                                            <span asp-validation-for="Pago.MetodoPago" class="text-danger"></span>
                                                        </div>
                                                    </div>

                                                    <div class="modal-footer">
                                                        <button type="submit"
                                                                class="btn btn-success"
                                                                asp-page-handler="Pagar"
                                                                onclick="return confirm('¿Seguro que quiere pagar esta consulta?');">
                                                            Pagar
                                                        </button>
                                                    </div>

                                                </form>

                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        }
                        else 
                        {
                            <td>
                                <button class="btn btn-outline-secondary btn-sm" disabled>Pagar</button>
                            </td>
                        }
                    </tr>
                }
            }
        </table>
        }
    </div>
</div>

<!-- script que ejecuta un alert cuando se envia el formulario de pago -->
<script type="text/javascript">
    window.onload = function () {
        var mensaje = "@ViewData["Mensaje"]";
        if (mensaje && mensaje.length > 0) {
            alert(mensaje);
        }
    };
</script>