@page
@model Obligatorio2Prog2.Pages.GestionTurnos.IndexModel
@{
    ViewData["Title"] = "Gestión de turnos";
}

<div class="card">
    <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
            <h2 class="m-0">Lista de turnos</h2>
            <!-- Boton para abrir modal -->
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalAgendar">
                Agendar turno
            </button>
        </div>
    </div>

    <!-- Tabla de turnos -->
    <div class="card-body px-0 pb-0">
        @if (Model.Turnos.Count() > 0)
        {
            <table class="table table-striped border mb-0">
                <tr class="table-secondary">
                    <th>
                        Turno
                    </th>
                    <th>
                        Paciente
                    </th>
                    <th>
                        Medico
                    </th>
                    <th>
                        Fecha
                    </th>
                    <th>
                        Hora
                    </th>
                    <th>
                        Acciones
                    </th>
                </tr>
                @foreach (var item in Model.Turnos)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.TurnoId)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.PacienteId)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.MedicoId)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.FechaTurno)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Hora)
                        </td>
                        <td>
                            <a asp-route-id="@item.TurnoId" asp-page="Editar" class="btn btn-warning btn-sm">
                                Editar
                            </a>
                            <button asp-page-handler="Borrar" asp-route-id="@item.TurnoId" onClick="return confirm('¿Está seguro de querer borrar el curso?')" class="btn btn-danger btn-sm">
                                Borrar
                            </button>
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <p>No hay cursos disponibles</p>
        }
    </div>
</div>